[submodule "pi-rtk-optimizer"]
	path = pi-rtk-optimizer
	url = git@github.com:ginwzy/pi-rtk-optimizer.git
[submodule "pi-mcp-adapter"]
	path = pi-mcp-adapter
	url = git@github.com:ginwzy/pi-mcp-adapter.git
[submodule "pi-nano-context"]
	path = pi-nano-context
	url = git@github.com:ginwzy/nano-context.git
[submodule "pi-observational-memory"]
	path = pi-observational-memory
	url = git@github.com:ginwzy/pi-observational-memory.git
[submodule "pi-tool-display"]
	path = pi-tool-display
	url = git@github.com:ginwzy/pi-tool-display.git
