[submodule "pi-rtk-optimizer"]
	path = pi-rtk-optimizer
	url = https://github.com/ginwzy/pi-rtk-optimizer.git
[submodule "ff-labs-pi-fff"]
	path = ff-labs-pi-fff
	url = https://github.com/ginwzy/fff.git
	ignore = dirty
[submodule "juicesharp-rpiv-ask-user-question"]
	path = juicesharp-rpiv-ask-user-question
	url = https://github.com/ginwzy/rpiv-mono.git
	ignore = dirty
[submodule "pi-simplify"]
	path = pi-simplify
	url = https://github.com/ginwzy/pi-extensions-1.git
	ignore = dirty
[submodule "pi-btw"]
	path = pi-btw
	url = https://github.com/ginwzy/pi-btw.git
[submodule "pi-mcp-adapter"]
	path = pi-mcp-adapter
	url = https://github.com/ginwzy/pi-mcp-adapter.git
[submodule "pi-apply-patch"]
	path = pi-apply-patch
	url = https://github.com/code-yeongyu/pi-apply-patch.git
